<form action="/files/upload" method="post" enctype="multipart/form-data" id="UploadForm">
	<div class="form-group">
	    <label for="exampleInputEmail1">Choose file(s) to upload</label>
	    <input type="file" name="files" class="form-control" id="InputFile" placeholder="Choose file(s)" multiple>
	    <small id="emailHelp" class="form-text text-muted">Please choose one or several files</small>
	</div>
	<button type="button" class="btn btn-primary" onclick="validateFile();">Upload</button>
</form>